body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #333; /* Dark Gray */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #4caf50; /* Green */
}

.input-section {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50; /* Green */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

button:hover {
    background-color: #388e3c; /* Darker Green */
}

ul {
    list-style-type: none;
    padding: 0;
}

.item {
    background-color: #f9f9f9; /* Light Gray */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
}

.item-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333; /* Dark Gray */
}

.item-comments {
    font-size: 12px;
    color: #555; /* Gray */
    margin-bottom: 5px;
}

.quantity-input {
    width: 60px;
    padding: 6px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.remove-button {
    background-color: #ff4136; /* Red */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 15px;
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.remove-button:hover {
    background-color: #d50000; /* Darker Red */
}